body {
    background-color: #7895CB;

}


h1{
    font-family: Impact;
font-size: 100px;
}

button{
    width: 250px;
    height: 80px;
    background-color: #b5e4fc;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color:#335165;
}

p{
    font-family: 'Boogaloo', sans-serif;
font-size: 40px;
}
.box{
    background-image:linear-gradient(45deg, #cecece, transparent);
 border-radius: 5px;
    box-shadow: 9px 10px #1115188a;
}
